<div align="center">
  <h2>Hi there </h2>
</div>

<div align="center">
  <img mat-card-image src="assets/pictures/profile.PNG" alt="Photo of a Shiba Inu">
</div>
<p style="margin-right: 15%; margin-left: 15%;" align="center">My name is Osvaldo Fariñas Fernández and i am a software
  developer who love
  build software solution
  and exchange ideas with others, i have been working for a couples of companies in
  las 4 years where i had the pleasure to face up many challenges and learnt a lot if you want to know more about me, on
  this page you will find more information
</p>
